/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(54, 54, 54);
}
.footerImg img {
  width: 150px;
  position: absolute;
  left: 82%;
  opacity: 0.3;
  margin: 0.8% 0 0 0;
}
.footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin: 1% auto 0 auto;
}
.footerTop a {
  font-size: 1rem;
  text-decoration: none;
  color: #e46635;
  margin: 2% 2%;
}
.footerMiddle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
  margin: 1% auto 0 auto;
}
.fa-facebook-f {
  font-size: 1rem;
  color: #e46635;
}
.fa-linkedin-in {
  font-size: 1rem;
  color: #e46635;
}
.fa-yelp {
  font-size: 1rem;
  color: #e46635;
}
.footerBottom {
  text-align: center;
  margin: 2% 0 2% 0;
}
.footerBottom a {
  text-decoration: none;
  color: #e46635;
  font-size: 0.8rem;
}
.footerBottom p {
  color: #e46635;
  font-size: 0.8rem;
}
.fade-in-nav {
  -webkit-animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-bottom-img {
  -webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in-bottom 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bck-center-img {
  -webkit-animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.kenburns-left {
  -webkit-animation: kenburns-left 5s ease-out both;
  animation: kenburns-left 5s ease-out both;
}
@-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}
@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  margin: auto;
}
#home {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
}
.titleBox {
  height: 50px;
  width: 100%;
  position: relative;
  background-color: #363636;
}
.titleImg {
  position: absolute;
  height: 25px;
  top: 1.3%;
  left: 3.5%;
  margin: 0.8% 0 0 0;
}
.connectH1 {
  position: absolute;
  font-size: 1.2rem;
  top: 2.2%;
  left: 6%;
  color: #2d4f9e;
  font-weight: bolder;
  margin: 0.9% 0 0 0;
}
.insuranceH1 {
  position: absolute;
  font-size: 1.2rem;
  top: 1.9%;
  left: 11.75%;
  color: #d35a2b;
  font-weight: bolder;
  margin: 0.9% 0 0 0;
}
.phoneH1 {
  position: absolute;
  font-size: 1.2rem;
  top: 1.3%;
  left: 85%;
  width: 200px;
  color: #d35a2b;
  font-weight: bolder;
  margin: 0.9% 0 0 0;
}
#mapLink {
  color: #e46635;
  text-decoration: none;
}
#mapLink:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease;
}
.headerImg {
  width: 100%;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
  margin: 4% 0 4% 15%;
}
.navBarHome {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
  background: rgba(211, 90, 43, 0.85);
  padding: 1% 0;
  margin: 0 0 0 0;
  box-shadow: 0 3px 15px #d35a2b;
}
.navLink {
  margin: 0 2%;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.navLinkHome {
  margin: 0 2%;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 4px rgba(43, 43, 43, 0.2);
  transition: 0.5s ease;
}
.navLinkHome:hover {
  color: #2d4f9e;
}
.navLinkHome:active {
  color: white;
  opacity: 0.3;
}
.navLink a {
  padding: 4%;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 2%;
}
.dropbtn {
  display: flex;
  align-items: baseline;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}
.dropbtnHome {
  display: flex;
  align-items: baseline;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(43, 43, 43, 0.2);
}
.dropbtnHome:hover {
  color: #2d4f9e;
  text-shadow: -1px 1px 3px #2d4f9e;
  transition: 0.5s ease;
}
.fa-angle-down {
  font-size: 0.9rem;
}
.fa-map-marker-alt {
  font-size: 1.1rem;
  margin-right: 2%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  opacity: 1;
  width: 200%;
  box-shadow: 0px 8px 16px 0px rgba(92, 91, 91, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
i {
  margin: 0 0 0 2%;
  padding: 2%;
}
.logoA {
  width: 20%;
}
.logo {
  width: 80%;
  margin: 2% 0 2% 3%;
  padding: 3%;
  background: white;
  border-radius: 10px;
}
.index1 {
  width: 100%;
  height: 100vh;
  background-image: url("../img/skyline.jpg");
  background-size: 100%;
  padding: 4% 0 0 0;
}
.index1 h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto 4% auto;
  width: 75%;
  padding: 2% 1%;
  color: white;
  border-bottom: 1px solid rgba(44, 44, 44);
  text-shadow: 0 1px 4px rgba(44, 44, 44);
  font-family: "IBM Plex Serif", serif;
}
.aboutUs {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 5% auto 0 auto;
  padding: 5% 2%;
  background: rgba(211, 90, 43, 0.6);
}
.aboutUsLeft {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.aboutUsLeft p {
  font-size: 1.2rem;
  color: white;
  line-height: 1.4rem;
  text-shadow: 0 1px 4px rgba(44, 44, 44);
}
.aboutUsRight {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.aboutUsImage {
  width: 98%;
  border: 2px solid rgba(44, 44, 44, 0.7);
  margin: auto;
  box-shadow: 0 4px 10px rgba(44, 44, 44);
}
.carriers {
  width: 100%;
}
.carriersBanner {
  background-image: linear-gradient(to bottom right, rgba(45, 79, 158), #7f98d1);
  padding: 4% 0 3% 0;
}
.shape1 {
  width: 400px;
  position: fixed;
  margin: -8% 0 0 70%;
  opacity: 0.3;
}
.carriers h1 {
  width: 30%;
  margin: -2% auto 1% auto;
  padding: 0 0 0.5% 0;
  font-size: 2.4rem;
  text-align: center;
  line-height: 3rem;
  color: white;
  border-bottom: 1px solid white;
  font-family: "IBM Plex Serif", serif;
  letter-spacing: 0.01em;
  font-weight: 300;
}
.carriers p {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  color: white;
  line-height: 1.65rem;
  letter-spacing: 0.01em;
}
.carrierGrid {
  width: 70%;
  height: 100vh;
  margin: 3% auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.carrierImg {
  width: 190px;
  border: 1px solid #f1eeee;
  margin: 4% 1%;
  opacity: 1;
  transition: 0.5s ease;
  box-shadow: 0 2px 8px #f1eeee;
}
.carrierImg:hover {
  opacity: 0.3;
  box-shadow: 0 5px 12px #f1eeee;
  cursor: pointer;
}
