/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(54, 54, 54);
}
.footerImg img {
  width: 150px;
  position: absolute;
  left: 82%;
  opacity: 0.3;
  margin: 0.8% 0 0 0;
}
@media (max-width:500px) {
  .footerImg img {
    display: none;
  }
}
.footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin: 1% auto 0 auto;
}
@media (max-width:500px) {
  .footerTop {
    width: 100%;
  }
}
.footerTop a {
  font-size: 1rem;
  text-decoration: none;
  color: #e46635;
  margin: 2% 2%;
}
@media (max-width:500px) {
  .footerTop a {
    font-size: 0.8rem;
  }
}
.footerMiddle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
  margin: 1% auto 0 auto;
}
.fa-facebook-f {
  font-size: 1rem;
  color: #e46635;
}
.fa-linkedin-in {
  font-size: 1rem;
  color: #e46635;
}
.fa-yelp {
  font-size: 1rem;
  color: #e46635;
}
.footerBottom {
  text-align: center;
  margin: 2% 0 2% 0;
}
.footerBottom a {
  text-decoration: none;
  color: #e46635;
  font-size: 0.7rem;
}
.footerBottom p {
  color: #e46635;
  font-size: 0.7rem;
}
.fade-in-nav {
  -webkit-animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-bottom-img {
  -webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in-bottom 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bck-center-img {
  -webkit-animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.kenburns-left {
  -webkit-animation: kenburns-left 5s ease-out both;
  animation: kenburns-left 5s ease-out both;
}
@-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}
@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  margin: auto;
}
#home {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
}
.titleBox {
  height: 50px;
  width: 100%;
  position: relative;
  background-color: #363636;
}
@media (max-width:500px) {
  .titleBox {
    height: 30px;
  }
}
.titleImg {
  position: absolute;
  height: 25px;
  top: 1.3%;
  left: 3.5%;
  margin: 0.8% 0 0 0;
}
@media (max-width:500px) {
  .titleImg {
    display: none;
  }
}
.connectH1 {
  position: absolute;
  font-size: 1.2rem;
  top: 2.2%;
  left: 6%;
  color: #2d4f9e;
  font-weight: bolder;
  margin: 0.9% 0 0 0;
  font-weight: 400;
}
@media (max-width:500px) {
  .connectH1 {
    font-size: 1rem;
    left: 3%;
    top: 3%;
  }
}
.insuranceH1 {
  color: #d35a2b;
}
@media (max-width:500px) {
  .insuranceH1 {
    font-size: 1rem;
    left: 16%;
    top: 3%;
  }
}
.phoneH1 {
  position: absolute;
  font-size: 1.2rem;
  top: 1.3%;
  left: 85%;
  width: 180px;
  color: #d35a2b;
  font-weight: bolder;
  margin: 0.9% 0 0 0;
  font-weight: 400;
}
@media (max-width:500px) {
  .phoneH1 {
    font-size: 0.9rem;
    left: 72%;
    top: 2%;
    margin: 0;
    width: 120px;
  }
}
#mapLink {
  color: #e46635;
  text-decoration: none;
}
#mapLink:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease;
  transition: 0.3s ease-out;
}
.headerImg {
  width: 100%;
}
.navDiv {
  width: 82%;
  margin: 0 auto 2% auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .navDiv {
    display: none;
  }
}
.navDiv .logoA {
  width: 20%;
}
.navDiv .logo {
  width: 80%;
  margin: 2% 0 2% 12%;
  padding: 3%;
  background: white;
  border-radius: 10px;
}
.navDiv .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 0 0 15%;
}
.navDiv .navLink {
  margin: 0 2%;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.navDiv .navLink:hover {
  color: #d35a2b;
}
.navBarHome {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  align-items: baseline;
  width: 100%;
  background: rgba(211, 90, 43, 0.85);
  padding: 0.5% 0;
  margin: 0 auto;
  box-shadow: 0 3px 15px #d35a2b;
}
@media (max-width:500px) {
  .navBarHome {
    display: none;
  }
}
.topNav {
  display: none;
}
@media (max-width:500px) {
  .topNav {
    display: block;
    overflow: hidden;
    background-color: white;
    position: relative;
  }
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: #d35a2b;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
}
.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: #ddd;
  color: #d35a2b;
}
.active {
  background-color: white;
  color: #d35a2b;
}
.navLinkHome {
  margin: 0 2%;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 4px rgba(43, 43, 43, 0.2);
  transition: 0.5s ease;
  font-weight: 300;
}
.navLinkHome:hover {
  color: #2d4f9e;
}
.navLinkHome:active {
  color: white;
  opacity: 0.3;
}
.navLink a {
  padding: 4%;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 2%;
}
.dropbtn {
  display: flex;
  align-items: baseline;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}
.dropbtn:hover {
  color: #d35a2b;
}
.dropbtnHome {
  display: flex;
  align-items: baseline;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(43, 43, 43, 0.2);
  font-weight: 300;
}
.dropbtnHome:hover {
  color: #2d4f9e;
  text-shadow: -1px 1px 3px #2d4f9e;
  transition: 0.5s ease;
}
.fa-angle-down {
  font-size: 0.9rem;
}
.fa-map-marker-alt {
  font-size: 1.1rem;
  margin-right: 2%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  opacity: 1;
  width: 210%;
  box-shadow: 0px 8px 16px 0px rgba(92, 91, 91, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: #d35a2b;
}
.dropdown:hover .dropdown-content {
  display: block;
}
i {
  margin: 0 0 0 2%;
  padding: 2%;
}
.logoA {
  width: 20%;
}
.logo {
  width: 80%;
  margin: 2% 0;
  padding: 3%;
  background: white;
  border-radius: 10px;
}
.index1 {
  width: 100%;
  height: 100vh;
  background-image: url("../img/skyline.jpg");
  background-size: 100%;
  padding: 4% 0 0 0;
}
@media (max-width:500px) {
  .index1 {
    background-image: none;
    background-color: #d35a2b;
    padding: none;
    height: auto;
  }
}
.index1 h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto 4% auto;
  width: 75%;
  padding: 2% 1%;
  color: white;
  border-bottom: 1px solid rgba(44, 44, 44);
  text-shadow: 0 1px 4px rgba(44, 44, 44);
  font-family: "DM Serif Text", serif;
}
@media (max-width:500px) {
  .index1 h1 {
    font-size: 1.5rem;
  }
}
.index1 p {
  font-weight: 300;
}
.index2 {
  width: 100%;
  background-color: white;
}
@media (max-width:500px) {
  .index2 {
    height: auto;
  }
}
.index2container {
  margin: 8% auto;
}
.index2container h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}
.types {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  margin: 3% auto;
}
@media (max-width:500px) {
  .types {
    width: 100%;
  }
}
.serviceType {
  width: 200px;
  margin: 1%;
  text-align: center;
}
@media (max-width:500px) {
  .serviceType {
    width: 40%;
  }
}
.serviceType a {
  text-decoration: none;
  color: black;
}
.serviceType h2 {
  font-size: 1.4rem;
  margin: 0 0 2.5% 0;
  font-weight: 300;
}
.serviceType p {
  line-height: 1.3rem;
  font-size: 1rem;
}
.typeIcon {
  font-size: 1.8rem;
  color: #d35a2b !important;
  padding: 10%;
  margin: 0 0 5% 0;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
}
.typeIcon:hover {
  box-shadow: 0 1px 8px rgba(197, 81, 35, 0.5);
  transition: 0.7s ease;
}
.carrierArrow {
  margin: 2%;
  padding: 0;
  font-size: 1.4rem !important;
}
@media (max-width:500px) {
  .carrierArrow {
    font-size: 1rem;
  }
}
.index2bottom {
  width: 25%;
  margin: auto;
}
@media (max-width:500px) {
  .index2bottom {
    display: none;
  }
}
.carrierBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  margin: auto;
}
@media (max-width:500px) {
  .carrierBanner {
    display: none;
  }
}
.imgContainerB {
  margin: 1%;
}
.carrierImgB {
  width: 140px;
  border: 1px solid #f1eeee;
  margin: 4% 2%;
  opacity: 1;
  transition: 0.5s ease;
  box-shadow: 0 2px 8px #f1eeee;
}
@media (max-width:500px) {
  .carrierImgB {
    width: 100%;
  }
}
.carrierImgB:hover {
  opacity: 0.3;
  box-shadow: 0 5px 12px #f1eeee;
  cursor: pointer;
}
.aboutUs {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 5% auto 0 auto;
  padding: 5% 2%;
  background: rgba(211, 90, 43, 0.6);
}
@media (max-width:500px) {
  .aboutUs {
    flex-direction: column;
  }
}
.aboutUsLeft {
  display: flex;
  flex-direction: column;
  width: 45%;
}
@media (max-width:500px) {
  .aboutUsLeft {
    width: 100%;
  }
}
.aboutUsLeft p {
  font-size: 1.2rem;
  color: white;
  line-height: 1.4rem;
  text-shadow: 0 1px 4px rgba(44, 44, 44);
}
@media (max-width:500px) {
  .aboutUsLeft p {
    font-size: 1rem;
  }
}
.aboutUsRight {
  display: flex;
  flex-direction: column;
  width: 45%;
}
@media (max-width:500px) {
  .aboutUsRight {
    width: 60%;
    margin: -10% auto 2% auto;
    order: -1;
  }
}
.aboutUsImage {
  width: 98%;
  border: 2px solid rgba(44, 44, 44, 0.7);
  margin: auto;
  box-shadow: 0 4px 10px rgba(44, 44, 44);
}
.carriers {
  width: 100%;
  padding: 0 0 5% 0;
}
.carriersBanner {
  background-image: linear-gradient(to bottom right, rgba(45, 79, 158), #7f98d1);
  padding: 4% 0 3% 0;
}
.shape1 {
  width: 400px;
  position: fixed;
  margin: -8% 0 0 70%;
  opacity: 0.3;
}
@media (max-width:500px) {
  .shape1 {
    width: 200px;
    margin: -6% 0 0 60%;
  }
}
.carriers h1 {
  width: 30%;
  margin: -2% auto 1% auto;
  padding: 0 0 0.5% 0;
  font-size: 2.4rem;
  text-align: center;
  line-height: 3rem;
  color: white;
  border-bottom: 1px solid white;
  font-family: "DM Serif Text", serif;
  letter-spacing: 0.01em;
}
@media (max-width:500px) {
  .carriers h1 {
    font-size: 1.5rem;
  }
}
.carriers p {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  color: white;
  line-height: 1.65rem;
  letter-spacing: 0.01em;
}
@media (max-width:500px) {
  .carriers p {
    font-size: 1rem;
    width: 90%;
  }
}
.carrierGrid {
  width: 70%;
  height: 100vh;
  margin: 3% auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:500px) {
  .carrierGrid {
    width: 90%;
    height: auto;
  }
}
.carrierImg {
  width: 190px;
  border: 1px solid #f1eeee;
  margin: 4% 1%;
  opacity: 1;
  transition: 0.5s ease;
  box-shadow: 0 2px 8px #f1eeee;
}
.carrierImg:hover {
  opacity: 0.3;
  box-shadow: 0 5px 12px #f1eeee;
  cursor: pointer;
}
.typeTemplate {
  width: 100%;
}
.typeTemplate h1 {
  font-size: 2rem;
  font-family: "DM Serif Text", serif;
}
.typeTemplate h2 {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "DM Serif Text", serif;
  margin: 1% 0;
}
.typeContainer {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  width: 100%;
}
.typeContainer .boldP {
  font-weight: 500;
}
.typeContainer .underlineP {
  text-decoration: underline;
}
.typeTop {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 40vh;
  justify-content: space-between;
  margin: 2% auto;
  align-items: center;
}
@media (max-width:500px) {
  .typeTop {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
.typeTop .topLeft {
  width: 30%;
  border: 2px solid #d35a2b;
  box-shadow: 3px 3px 15px rgba(211, 90, 43, 0.5);
  border-radius: 6px 6px;
  background-color: #ffffff;
  position: absolute;
  left: 12%;
  z-index: 0;
  padding: 2% 3%;
}
@media (max-width:500px) {
  .typeTop .topLeft {
    width: 80%;
    position: relative;
    left: 0;
  }
}
.typeTop .topLeft h1 {
  font-size: 2.5rem;
  color: #2d4f9e;
}
@media (max-width:500px) {
  .typeTop .topLeft h1 {
    font-size: 1.5rem;
  }
}
.typeTop .topLeft p {
  line-height: 1.6rem;
  font-size: 1rem;
  margin: 2% 0;
  text-indent: 20px;
  text-align: justify;
  text-justify: inter-word;
}
@media (max-width:500px) {
  .typeTop .topLeft p {
    line-height: 1.2rem;
  }
}
.typeTop .topLeft p .titleSpan {
  font-style: italic;
  opacity: 0.9;
}
.typeTop .topRight {
  width: 50%;
  position: absolute;
  left: 40%;
  z-index: -1;
}
@media (max-width:500px) {
  .typeTop .topRight {
    width: 60%;
    position: relative;
    left: 0;
    margin: 2% 0;
    order: -1;
  }
}
.typeTop .topRight .typeImg {
  width: 100%;
  border-radius: 3px 3px;
}
.typeMiddle {
  width: 100%;
  height: 40vh;
  background-image: url("../img/OrangeBanner.jpg");
  margin: 8% 0 0 0;
  opacity: 0.8;
}
@media (max-width:500px) {
  .typeMiddle {
    width: 100%;
    height: auto;
    margin: 10% 0 0 0;
  }
}
.typeMiddle .middleContent {
  width: 75%;
  margin: 5% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width:500px) {
  .typeMiddle .middleContent {
    width: 80%;
    flex-direction: column;
    margin: 2% auto;
  }
}
.typeMiddle .middleContent .middleLeft {
  width: 58%;
}
@media (max-width:500px) {
  .typeMiddle .middleContent .middleLeft {
    width: 100%;
  }
}
.typeMiddle .middleContent .middleLeft p {
  width: 100%;
  font-size: 1.8rem;
  text-indent: -40px;
  line-height: 2rem;
  font-style: italic;
  color: white;
  font-family: "DM San", sans-serif;
}
@media (max-width:500px) {
  .typeMiddle .middleContent .middleLeft p {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    text-indent: 0px;
    margin: 0 2%;
    line-height: 1.2rem;
  }
}
.typeMiddle .middleContent .middleLeft h3 {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 0.03em;
  margin: 2% 0;
}
.typeMiddle .middleContent .middleLeft h3 img {
  width: 60px;
}
@media (max-width:500px) {
  .typeMiddle .middleContent .middleLeft h3 img {
    display: none;
  }
}
@media (max-width:500px) {
  .typeMiddle .middleContent .middleLeft h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1% 2%;
    text-align: center;
  }
}
.typeMiddle .middleContent button {
  width: 250px;
  height: 70px;
  font-size: 1.5rem;
  color: #f1f1f1;
  background-image: linear-gradient(to right, rgba(236, 115, 7), rgba(253, 160, 3));
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  z-index: 2;
  opacity: 0.75;
}
.typeMiddle .middleContent button:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media (max-width:500px) {
  .typeMiddle .middleContent button {
    width: 100%;
    height: 40px;
    font-size: 1rem;
  }
}
.typeBottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 4% auto;
}
@media (max-width:500px) {
  .typeBottom {
    flex-direction: column;
  }
}
.typeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 32%;
  border: 2px solid #d35a2b;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(43, 43, 43, 0.1);
  margin: 2%;
  padding: 4%;
}
@media (max-width:500px) {
  .typeBox {
    width: 80%;
    margin: 2% auto;
  }
}
.typeBox h2 {
  font-size: 1.8rem;
  color: #2d4f9e;
  margin-bottom: 4%;
  text-align: left;
}
@media (max-width:500px) {
  .typeBox h2 {
    font-size: 1.6rem;
  }
}
.typeBox h2 i {
  font-size: 2.8rem;
  margin: -10% 2% 0 -6%;
}
@media (max-width:500px) {
  .typeBox h2 i {
    font-size: 1.4rem;
    margin: 1%;
  }
}
.typeBox p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-indent: 40px;
  text-align: justify;
  text-justify: inter-word;
  margin: 1% 0;
}
@media (max-width:500px) {
  .typeBox p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
.typeBox .leftAlign {
  text-align: left;
  text-indent: 0px;
}
.typeBox ul {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 5%;
  text-align: left;
}
@media (max-width:500px) {
  .typeBox ul {
    margin-left: 5%;
  }
}
.typeBox ul .ulTop {
  display: flex;
  justify-content: space-evenly;
}
.typeBox ul li {
  font-size: 1rem;
  line-height: 1.3rem;
}
.typeBox .commercialUl {
  margin-left: 6%;
}
.typeBox .commercialUl li {
  font-size: 1rem;
  line-height: 1.4rem;
}
.typeBox .getCoveredButton {
  width: 30%;
  height: 40px;
  margin: 4% auto 0 auto;
  text-align: center;
  font-size: 1.1rem;
  color: white;
  background-color: #d35a2b;
  border: none;
  box-shadow: 0 3px 12px rgba(211, 90, 43, 0.6);
  border-radius: 5px;
}
.typeBox .getCoveredButton:hover {
  cursor: pointer;
  box-shadow: 0 3px 12px rgba(211, 90, 43, 0.8);
}
@media (max-width:500px) {
  .typeBox .getCoveredButton {
    width: 40%;
    font-size: 1rem;
  }
}
.contactSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 2% auto;
}
@media (max-width:500px) {
  .contactSection {
    flex-direction: column;
  }
}
.contactSection .leftContact {
  width: 50%;
  padding: 2%;
}
@media (max-width:500px) {
  .contactSection .leftContact {
    width: 90%;
    margin: auto;
  }
}
.contactSection .rightContact {
  width: 50%;
  padding: 1%;
}
@media (max-width:500px) {
  .contactSection .rightContact {
    width: 90%;
    margin: auto;
  }
}
.contactSection .rightContact .rightDiv {
  width: 100%;
  margin: auto;
}
.contactSection .rightContact .rightDiv h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1%;
}
.contactForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
@media (max-width:500px) {
  .contactForm {
    width: 90%;
  }
}
.contactForm h2 {
  font-weight: 600;
  margin: 1% 0;
}
.contactForm .inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0;
}
.contactForm .inputDiv input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 1rem;
}
.contactForm .inputDiv input:focus {
  outline: none;
}
.contactForm .inputDiv input::placeholder {
  font-size: 1rem;
  color: #868686;
}
.contactForm .radios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0;
}
.contactForm .radios .inputDiv2 {
  margin: 2% 0;
}
.contactForm .submitButton {
  width: 25%;
  margin: 2% auto;
  background-color: #2d4f9e;
  border: none;
  color: white;
  height: 40px;
  font-size: 1.2rem;
}
.contactForm .submitButton:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5sec ease;
}
.compareSection {
  width: 60%;
  height: 90vh;
  margin: 0% auto;
}
@media (max-width:500px) {
  .compareSection {
    width: 95%;
    height: 90vh;
  }
}
.compareSection h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 3% 0;
}
.compareSection .tabs {
  width: 100%;
  margin: auto;
}
.compareSection .tabs .topics {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.compareSection .tabs .tab {
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 40px;
  width: 25%;
  text-align: center;
  font-size: 1.2rem;
  padding: 2% 0;
  background-color: #2d4f9e;
  color: white;
}
@media (max-width:500px) {
  .compareSection .tabs .tab {
    font-size: 1rem;
  }
}
.compareSection .tabs .tab:hover {
  cursor: pointer;
}
.compareSection .card {
  height: 60vh;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.compareSection .active-tab {
  background-color: white !important;
  color: #2d4f9e !important;
  border: 1px solid black;
  border-bottom: none;
}
.compareSection .compareForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}
@media (max-width:500px) {
  .compareSection .compareForm {
    margin: 2% auto;
  }
}
.compareSection .compareForm .formTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 3% 0;
}
.compareSection .compareForm h2 {
  font-weight: 600;
  margin: 1% 0;
}
.compareSection .compareForm .formLeft {
  width: 45%;
}
.compareSection .compareForm .formLeft .inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0;
}
.compareSection .compareForm .formLeft .inputDiv input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 1rem;
}
.compareSection .compareForm .formLeft .inputDiv input:focus {
  outline: none;
}
.compareSection .compareForm .formLeft .inputDiv input::placeholder {
  font-size: 1rem;
  color: #868686;
}
.compareSection .compareForm .formRight {
  width: 45%;
}
.compareSection .compareForm .formRight .inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0;
}
.compareSection .compareForm .formRight .inputDiv input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 1rem;
}
.compareSection .compareForm .formRight .inputDiv input:focus {
  outline: none;
}
.compareSection .compareForm .formRight .inputDiv input::placeholder {
  font-size: 1rem;
  color: #868686;
}
.compareSection .compareForm .formBottom {
  text-align: center;
}
.compareSection .compareForm .formBottom .submitButton {
  width: 25%;
  margin: 3% auto;
  background-color: #2d4f9e;
  border: none;
  color: white;
  height: 40px;
  font-size: 1.2rem;
}
.compareSection .compareForm .formBottom .submitButton:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5sec ease;
}
