.footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.left {
  display: block;
}

.leftFooterTitle {
  display: block;
}

.leftFooterTitle h1 {
  font-size: 1.6rem;
}

.leftFooterList {
  display: flex;
  flex-wrap: wrap;
}
