@import "reset.less";
@import "footer.less";
@import "animations.less";

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  margin: auto;
}

#home {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
}

.titleBox {
  height: 50px;
  width: 100%;
  position: relative;
  background-color: rgb(54, 54, 54);
}

.titleImg {
  position: absolute;
  height: 25px;
  top: 1.3%;
  left: 3.5%;
  margin: 0.8% 0 0 0;
}

.connectH1 {
  position: absolute;
  font-size: 1.2rem;
  top: 2.2%;
  left: 6%;
  color: #2d4f9e;
  font-weight: bolder;
  margin: 0.9% 0 0 0;
  font-weight: 400;
}

.insuranceH1 {
  position: absolute;
  font-size: 1.2rem;
  top: 1.9%;
  left: 11.75%;
  color: #d35a2b;
  font-weight: bolder;
  margin: 0.9% 0 0 0;
  font-weight: 400;
}

.phoneH1 {
  position: absolute;
  font-size: 1.2rem;
  top: 1.3%;
  left: 85%;
  width: 200px;
  color: #d35a2b;
  font-weight: bolder;
  margin: 0.9% 0 0 0;
  font-weight: 400;
}

#mapLink {
  color: #e46635;
  text-decoration: none;
}

#mapLink:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease;
  transition: 0.3s ease-out;
}

.headerImg {
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
  margin: 4% 0 4% 15%;
}

.navBarHome {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  align-items: baseline;
  width: 100%;
  background: rgba(211, 90, 43, 0.85);
  padding: 0.5% 0;
  margin: 0 0 0 0;
  box-shadow: 0 3px 15px #d35a2b;
}

.navLink {
  margin: 0 2%;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.navLinkHome {
  margin: 0 2%;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 4px rgba(43, 43, 43, 0.2);
  transition: 0.5s ease;
  font-weight: 300;
}

.navLinkHome:hover {
  color: #2d4f9e;
}

.navLinkHome:active {
  color: white;
  opacity: 0.3;
}
.navLink a {
  padding: 4%;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 2%;
}

.dropbtn {
  display: flex;
  align-items: baseline;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

.dropbtnHome {
  display: flex;
  align-items: baseline;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(43, 43, 43, 0.2);
  font-weight: 300;
}

.dropbtnHome:hover {
  color: #2d4f9e;
  text-shadow: -1px 1px 3px #2d4f9e;
  transition: 0.5s ease;
}

.fa-angle-down {
  font-size: 0.9rem;
}

.fa-map-marker-alt {
  font-size: 1.1rem;
  margin-right: 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  opacity: 1;
  width: 200%;
  box-shadow: 0px 8px 16px 0px rgba(92, 91, 91, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

i {
  margin: 0 0 0 2%;
  padding: 2%;
}

.logoA {
  width: 20%;
}

.logo {
  width: 80%;
  margin: 2% 0 2% 3%;
  padding: 3%;
  background: white;
  border-radius: 10px;
}

.index1 {
  width: 100%;
  height: 100vh;
  background-image: url("../img/skyline.jpg");
  background-size: 100%;
  padding: 4% 0 0 0;
}

.index1 h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto 4% auto;
  width: 75%;
  padding: 2% 1%;
  color: white;
  border-bottom: 1px solid rgba(44, 44, 44);
  text-shadow: 0 1px 4px rgba(44, 44, 44);
  font-family: "IBM Plex Serif", serif;
}

.index1 p {
  font-weight: 300;
}

.index2 {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.index2container {
  margin: 5% auto;
}

.index2container h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}

.types {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin: 3% auto;
}

.serviceType {
  width: 28%;
  margin: 1%;
  text-align: center;
}

.serviceType a {
  text-decoration: none;
  color: black;
}

.serviceType h2 {
  font-size: 1.4rem;
  margin: 0 0 2.5% 0;
  font-weight: 300;
}

.serviceType p {
  line-height: 1.3rem;
  font-size: 1rem;
}

.typeIcon {
  font-size: 1.8rem;
  color: #d35a2b !important;
  padding: 10%;
  margin: 0 0 5% 0;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
}

.typeIcon:hover {
  box-shadow: 0 1px 8px rgba(197, 81, 35, 0.5);
  transition: 0.7s ease;
}

.carrierArrow {
  margin: 2%;
  padding: 0;
  font-size: 1.6rem !important;
}

.index2bottom {
  width: 25%;
  margin: auto;
}

.aboutUs {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 5% auto 0 auto;
  padding: 5% 2%;
  background: rgba(211, 90, 43, 0.6);
}

.aboutUsLeft {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.aboutUsLeft p {
  font-size: 1.2rem;
  color: white;
  line-height: 1.4rem;
  text-shadow: 0 1px 4px rgba(44, 44, 44);
}

.aboutUsRight {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.aboutUsImage {
  width: 98%;
  border: 2px solid rgba(44, 44, 44, 0.7);
  margin: auto;
  box-shadow: 0 4px 10px rgba(44, 44, 44);
}

.carriers {
  width: 100%;
  padding: 0 0 5% 0;
}

.carriersBanner {
  background-image: linear-gradient(
    to bottom right,
    rgba(45, 79, 158),
    rgb(127, 152, 209)
  );
  padding: 4% 0 3% 0;
}

.shape1 {
  width: 400px;
  position: fixed;
  margin: -8% 0 0 70%;
  opacity: 0.3;
}

.carriers h1 {
  width: 30%;
  margin: -2% auto 1% auto;
  padding: 0 0 0.5% 0;
  font-size: 2.4rem;
  text-align: center;
  line-height: 3rem;
  color: white;
  border-bottom: 1px solid white;
  font-family: "IBM Plex Serif", serif;
  letter-spacing: 0.01em;
  font-weight: 300;
  //font-family: "Merriweather", serif;
}

.carriers p {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  color: white;
  line-height: 1.65rem;
  letter-spacing: 0.01em;
}

.carrierGrid {
  width: 70%;
  height: 100vh;
  margin: 3% auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carrierImg {
  width: 190px;
  border: 1px solid rgb(241, 238, 238);
  margin: 4% 1%;
  opacity: 1;
  transition: 0.5s ease;
  box-shadow: 0 2px 8px rgb(241, 238, 238);
}

.carrierImg:hover {
  opacity: 0.3;
  box-shadow: 0 5px 12px rgb(241, 238, 238);
  cursor: pointer;
}

.typeTemplate {
  width: 100%;
  h1 {
    font-size: 2rem;
    font-family: "IBM Plex Serif", serif;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "IBM Plex Serif", serif;
    margin: 1% 0;
  }
}

.typeContainer {
  display: flex;
  flex-direction: column;

  .boldP {
    font-weight: 500;
  }
  .underlineP {
    text-decoration: underline;
  }
}

.typeTop {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-between;
  margin: 2% auto;
  align-items: center;
}

.typeImg {
  width: 60%;
}

.typeBottom {
  width: 50%;
  margin: 2% auto;
}
